body {
    background-color: rgb(253, 253, 253);
    font-family: Alegreya Sans, Verdana;
}

h1 {
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    font-family: Alegreya Sans, Verdana;
    width: 100%;
    bottom: 0;
    font-size: 12px;
}

.input-section, .output-section {
    text-align: center;
    padding-top: 30px;
}

.input-text, .output-text {
    background-color: rgb(245, 245, 245);
    text-align: center;
    font-size: 45px;
    font-family: Cutive Mono, monospace;
    text-transform: uppercase;
}

.config-section input {
    text-align: center;
    font-family: Cutive Mono, monospace;
    font-size: 12px;
    width: 30px;
}

.config-subsection {
    width: 300px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}